<error404 class="details">
  <header class=row>
    <div>
      <div class=avatar>
          <icon figure=placeholder-error />
      </div>
    </div>

    <div>
        <h1>The page does not exist</h1>
    </div>
  </header>
  <section>
    <p>
      The page you are trying to reach does not exist.<br>
      
      <icon figure=arrow-right />
      <a href="/">
        Back to home
      </a>
    </p>
  </section>

  <link rel="stylesheet" href="/src/css/details.css">

  <style>
    :scope.details section:before {
      background-color: transparent !important;
    }

    a {
      color: var(--primary-color);
      border-bottom: none;
      vertical-align: bottom;
    }
  </style>
</error404>
