<event-edit class=details>
  <header class=row>
    <div>
      <div class=avatar>
          <icon figure=placeholder-event />
      </div>
    </div>

    <div>
      <h1 if={ event.pk }>Edit: { event.name }</h1>
      <h1 if={ !event.pk }>Create an Event</h1>
    </div>
  </header>

  <form onsubmit={ this.submit } class=resource-edit-form>
    <fieldset>
      <div>
          <div>
            <legend>Information</legend>
            <div class="row">
              <div class=w70p>
                <label for=name>Name of the event</label>
                <input class=row name=name value={ event.name } placeholder="Name" required onblur={ this.checkDuplicatesName }>
              </div>
              <div class=fx-grow-2>
                <label for=>Kind of event</label>
                <select class=row name=kind required>
                  <option value=""> --- </option>
                  <option each={ kind in this.EVENT_KINDS } value={ kind.key } selected={ this.event.kind == kind.key }>{ kind.value }</option>
                </select>
              </div>
            </div>

            <div class="row w70p">
              <div class=w50p>
                <label for=start_date>Date of beginning</label>
                <input type=date name=start_date value={ event.start_date } placeholder="Date of beginning" required>
              </div>
              <div class=w50p>
                <label for=duration>Duration of the event (in days)</label>
                <input type=number name=duration value={ event.duration } placeholder="Duration of the event (in days)" required>
              </div>
            </div>
            <label for=location>Location</label>
            <input class=row name=location value={ event.location } placeholder="Location" required>
          </div>
      </div>
      <duplicates if={ !this.event.pk && this.duplicatesNameUri } href={ this.duplicatesNameUri } resource=event />
    </fieldset>

    <fieldset if={ user.can('import') }>
      <div>
        <div>
          <legend>Attendees</legend>
          <p if={ !this.event.pk }>Import events in the next step</p>
          <div if={ this.event.pk }>
            <div class="row align-end">
              <div class=w100p>
                <label>Import list of attendees</label>
                <input ref=file type=file>
              </div>
              <button class=button type=button onclick={ this.upload }>
                <icon figure=add embedded />  Import
              </button>
            </div>
            <bulk-log errors={ this.errors } title={ this.errorSummary } />
            <bulk-warning warnings={ this.warnings } title="The event was linked to the following contacts, however…" />
          </div>
        </div>
      </div>
    </fieldset>

    <section class=toolbar>
      <div class=secondary>
        <button if={ this.event.pk && this.user.can('delete') } type=button class=plain onclick={ this.delete }><icon figure=delete-small />Delete</button>
        <button class=button type=button onclick={ () => history.back() }><icon figure=close-small embedded />Cancel</button>
        <button class=button><icon figure=save-small embedded />{ this.event.pk ? 'Save' : 'Next >' }</button>
      </div>
    </section>
  </form>

  <script>
    this.user = window.user
    this.event = {}
    this.EVENT_KINDS = config.EVENT_KINDS

    this.on('*', () => {
      this.event = this.opts.event
    })

    this.submit = async (e) => {
      e.preventDefault()
      const form = e.target
      const data = serializeForm(form)
      const response = this.event.pk
                     ? apiResponse(await api(`/event/${this.event.pk}`, { data, method: 'put' }))
                     : apiResponse(await api('/event', { data }))
      if (response.ok) {
        const event = response.data
        this.event.pk ? page(`/event/${event.pk}${location.search}`) : page(`/event/${event.pk}/edit${location.search}`)
        this.event = event
        notify('The event was saved', 'success')
        this.update()
      }
    }

    this.checkDuplicatesName = (event) => {
      if(this.event.pk) return
      this.duplicatesNameUri = `/complete?q=${event.target.value}&limit=3`
    }

    this.upload = async (e) => {
      const formData = new FormData()
      const file = this.refs.file.files[0]
      formData.append('data', file)
      const response = apiResponse(await api(`/event/${ this.event.pk }/import`, { body: formData, loader: true }))
      if(!response.ok) return
      const created = response.data.filter(item => item.status === 'created') || []
      const found = response.data.filter(item => item.status === 'found') || []
      const warnings = found.filter(item => Object.keys(item.report).includes('warning'))
      const error = response.data.filter(item => item.status === 'error') || []
      this.errorSummary = `${response.data.length} attendees were imported: ${created.length} created, ${found.length} existing and ${error.length} errors.`
      notify(this.errorSummary, error.length ? 'warning' : 'success')
      this.errors = error
      this.warnings = warnings
      downloadJsonReportToCsv(response.data, file.name, `event${this.event.pk}`)

      this.update()
    }

    this.delete = async (event) => {
      if(!confirm('You are about to permanently delete this event. Are your sure?')) return
      const response = apiResponse(await api(`/event/${this.event.pk}`, { method: 'delete' }))
      if (!response.ok) return
      notify(`The event "${this.event.name}" was deleted.`, 'success')
      page(`/${location.search}`)
    }
  </script>

  <link rel="stylesheet" href="/src/css/details.css">
  <style>
    [type="file"] + button {
      margin-top: 0.8rem;
    }

    .import-error {
      margin-top: 0.4rem;
    }
    .import-error,
    .import-error h3 {
    font-size: 0.6rem;
    }

    .import-error h3 {
      margin-bottom: 0.8rem;
      color:#D20019;
      font-weight: 500;
    }
    .import-error h3 icon {
      margin-right: 0.4rem;
      vertical-align: middle;
    }
    .import-error > ul > li {
      display: block;
      margin-bottom: 0.8rem;
    }

    .import-error > ul {
      margin-left: 0.4rem;
      padding-left: 0.8rem;
      border-left: 1px solid var(--border-color);
    }
    .import-error > ul > li li {
     display: block;
    }

    .import-error a {
      font-weight: bold;
    }

  </style>
</event-edit>
