<role-card>
  <article class={ default: this.role.is_default }>
    <icon if={ this.role.is_primary } figure=primary title="Primary contact for this organisation"></icon>
    <icon if={ !this.role.is_primary } figure=organisation></icon>
    <h3>
      <a href=/organisation/{ this.role.organisation.pk }{ location.search }>{ this.role.organisation.name }</a>
      <span if={ this.role.name }>| { this.role.name }</span>
    </h3>

    <ul if={ (this.role && (this.role.email || this.role.phone)) || (this.organisation && this.organisation.email) }>
      <li if={ this.role.email }>
        <icon figure=email />
        <a target=_blank href="mailto:{ this.role.name }<{ this.role.email }>">{ this.role.email }</a>
      </li>
      <li if={ this.role.phone }>
        <icon figure=phone />
        <span>{ this.role.phone }</span>
      </li>
    </ul>
    <icon class="voting-contact-icon" if={ this.role.is_voting } figure=votingcontact label="Voting contact for this organisation" />
  </article>

  <script>
    this.role = {}

    this.on('mount', async () => {
      this.role = this.opts.role
      const response = apiResponse(await api(this.role.organisation.uri))
      this.organisation = response.data
      this.update()
    })
  </script>

  <style>
    :scope {
      display: block;
    }
    header {
      padding: 0 .3rem;
    }
    article {
      width: 100%;
    }
    article.default {
      background: transparent url('/src/images/icons/default.svg') no-repeat 0 6px;
      padding-left: 1.5rem;
      margin-left: -1.5rem;
    }
    a {
      text-decoration: none;
      color: var(--primary-color);
      vertical-align: middle;
      border-bottom: none;
    }
    icon {
      display: inline-block;
      height: 1.3rem;
    }

    h1,
    h2 {
      font-family: inherit;
      font-size: .8rem;
      font-weight: normal;
    }
    h1 {
      display: inline-block;
      margin: 0 auto;
      font-family: inherit;
      vertical-align: middle;
    }
    h2 {
      margin-top: 0.4rem;
      text-transform: none;
    }

    main {
      padding-top: 1rem;
      padding-bottom: .7rem;
    }
    ul,
    li {
      margin: 0!important;
      padding: 0;
    }
    [figure=email] + a {
      color: var(--text-color);
      margin-top: -.2rem!important;
    }

    li + li {
      margin-left: 2rem !important;
    }

    ul,
    li,
    li icon,
    .voting-contact-icon {
      display: flex;
      align-items: center;
      justify-content: start;
    }

    .voting-contact-icon span {
      margin-left: .3rem;
    }

    span {
      vertical-align: middle;
    }

    h3 {
      font-weight: 500!important;
      display: inline-block;
      font-size: .8rem;
      color: inherit;
      margin: 0 0 .3rem .2rem;
    }
  </style>
</role-card>
