<!--
Create a browsable navigation stack:

```
<stack-navigation context={ this.context }>
  <first-child layer="first"></first-child>
  <second-child layer="second" ></second-child>
</stack-navigation>
```

`context={ this.context }` will permit your current component to inject an object
that will be relayed into the stack.

Only the first child will be visible.
You may then navigate through the stack with the `stack.navigate(layerName)` function.
From within a component, call: `this.stack.navigate('second', context)` to display the
layer called "second".
In the above example, `navigate()` will trigger the `update()` event with the `context`
object.
-->
<stack-navigation>
  <header class=row>
    <nav>
      <!-- <button if={ this.previousScreens.length } onclick={ history.back } class=plain title="Back to the previous screen">＜</button> -->
    </nav>
    <h1 if={ this.opts.title }>{ this.opts.title }</h1>
  </header>
  <section ref=container>
    <yield />
  </section>

  <script>

    this.on('*', () => {
      this.ctx = Object.assign({}, this.opts.ctx, { route: this.opts.route })
      const layerName = this.ctx.route
      const activeTag = Object.values(this.tags).find(t => t.opts.layer === layerName)
      activeTag && activeTag.root.classList.add('active')
    })
    // this.screens = {}
    // this.children = []
    // this.currentScreen = null
    // this.previousScreens = []
    //
    // this.on('mount', () => {
    //   this.children = Object.values(this.tags)
    //   this.children.forEach((tag) => {
    //     tag.off('mount')
    //     tag.opts.stack = this
    //     let name = tag.root.getAttribute('layer')
    //     this.screens[name] = tag
    //   })
    //   this.setCurrentScreen(this.children[0])
    // })
    //
    // this.navigate = (name, opts) => {
    //   const node = this.currentScreen.root
    //   node.classList.remove('active')
    //   node.classList.add('previous')
    //   this.previousScreens.push(this.currentScreen)
    //   this.setCurrentScreen(this.screens[name], opts)
    // }
    //
    // this.back = () => {
    //   const currentScreen = this.previousScreens.pop()
    //   if (!currentScreen) return
    //   currentScreen.root.classList.remove('previous')
    //   this.setCurrentScreen(currentScreen)
    // }
    //
    // this.setCurrentScreen = (tag, opts = {}) => {
    //   const node = tag.root
    //   this.currentScreen && this.currentScreen.root.classList.remove('active')
    //   this.currentScreen = tag
    //   this.currentScreen.root.classList.add('active')
    //   const tagOpts = Object.assign({}, tag.opts, this.opts.context, opts)
    //   this.update()
    //   if(tag.isMounted) {
    //     tag.update(tagOpts)
    //   }
    //   else {
    //     tag.opts = tagOpts
    //     tag.mount()
    //   }
    // }
  </script>

  <style>
    :scope {
      display: block;
      width: 100%;
      height: 100%;
      white-space: nowrap;
      position: relative;
      overflow-x: hidden;
    }
    :scope > header {
      height: 2rem;
      margin-bottom: .5rem;
      padding-bottom: .5rem;
      border-bottom: 1px solid #eee;
    }
    :scope > header > h1 {
      margin: 0 auto;
      font-size: 1.2rem;
    }
    [ref=container] {
      width: 100%;
      height: 100%;
      min-height: 2rem;
    }
    [ref=container] > * {
      position: absolute;
      left: 110%;
      display: block;
      width: 100%;
      height: 100%;
      background-color: #fff;
      transition: .3s left;
    }
    .previous {
      transition: .4s;
      left: -20%;
    }
    .active {
      left: 0;
      transition: .3s left;
    }
  </style>
</stack-navigation>
