<tooltip>
    <a class="tooltip" onmouseover={ this.showToolTip } onmouseleave={ this.hideToolTip } href={ this.link } target="_blank"><icon figure=info label={ this.description } /></a>

    <script>
        this.link = ""
        this.description = ""

        this.on("mount", () => {
            this.link = this.opts.link
            this.description = this.opts.description
            this.update()
        })

        this.showToolTip = () => {
            const tooltipDescription = document.querySelector(".tooltip icon span")
            tooltipDescription.style.display = "initial"
        }

        this.hideToolTip = () => {
            const tooltipDescription = document.querySelector(".tooltip icon span")
            tooltipDescription.style.display = "none"
        }

    </script>

    <style>
        .tooltip icon {
            vertical-align: text-top;
        }

        .tooltip:hover {
            background-color: transparent;
            color: inherit;
        }

        .tooltip icon {
            position: relative;
        }

        .tooltip icon span {
            display: none;
            position: absolute;
            width: 15rem;
            border-radius: .5rem;
            padding: .5rem;
            left: 100%;
            color: var(--secondary-background-color);
            background-color: var(--text-color);
        }
    </style>
</tooltip>