:root {
  --primary-color: #0062b7;
  --primary-color-light: #e6f0fa;
  --secondary-color: #e10055;
  --text-color: #414664;
  --text-color-light: #696E8C;
  --border-color: #e6e6eb;
  --primary-background-color: #fff;
  --secondary-background-color: #fafafb;
  --disease: #7846af;
  --disease-light: #f5ebfa;
  --country: #0f8796;
  --country-light: #e6f5f5;
  --group: #d03800;
  --group-light: #fff5eb;
  --keyword: #8c5a2d;
  --keyword-light: #f5f0eb;
  --kind: #cd0073;
  --kind-light: #faf0f5;
  --grouping: #32009b;
  --grouping-light: #ebebf5;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('../fonts/IBM_Plex_Sans/ibmplexsans-regular-webfont.woff2') format('woff2'),
       url('../fonts/IBM_Plex_Sans/ibmplexsans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('../fonts/IBM_Plex_Sans/ibmplexsans-medium-webfont.woff2') format('woff2'),
       url('../fonts/IBM_Plex_Sans/ibmplexsans-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('../fonts/IBM_Plex_Sans/ibmplexsans-extralight-webfont.woff2') format('woff2'),
       url('../fonts/IBM_Plex_Sans/ibmplexsans-extralight-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;

}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('../fonts/IBM_Plex_Sans/ibmplexsans-light-webfont.woff2') format('woff2'),
       url('../fonts/IBM_Plex_Sans/ibmplexsans-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeue/bebasneue_book-webfont.woff2') format('woff2'),
       url('../fonts/BebasNeue/bebasneue_book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeue/bebasneue_regular-webfont.woff2') format('woff2'),
       url('../fonts/BebasNeue/bebasneue_regular-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}

* {
  box-sizing: border-box;
  font-family: inherit;
}
*, ::after, ::before {
  box-sizing: inherit;
}
html {
  font-size: 20px;
  line-height: 1.5;
}
body {
  color: var(--text-color);
  font-size: .8rem;
  font-family: 'IBMPlexSans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing:antialiased !important;
  background-color: var(--secondary-background-color);
}

body app > header {
  position: relative;
}
body.dev app > header::after,
body.staging app > header::after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/125/582/original/vector-dirty-grunge-stripes-background.jpg);
    width: 100%;
    height: 100%;
    opacity : 0.6;
    z-index: -1;
}

h1,
h2,
h3,
h4,
legend {
  margin: 0;
  font-family: 'BebasNeue', sans-serif;
  color: var(--primary-color);
  line-height: 1;
}

h1 { font-size: 2.2rem }
h2 { font-size: 1.6rem }
h3 { font-size: 1.4rem }
h4 { font-size: 1.1rem }

a {
  cursor: pointer;
}

main a {
  padding: 0 .1rem;
  margin-left: -0.1rem;
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  /* border-bottom: 1px solid var(--primary-color); */
  transition: all .3s;
}
main a:hover {
  color: var(--primary-color);
  background-color: #e2eaf1;
  border-bottom: 0;
}

button,
a.button,
input[type=submit] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 1.6rem;
  margin-left: 0;
  padding: .1rem .8rem;
  color: var(--primary-color);
  font-size: .6rem;
  font-weight: 500;
  line-height: 2;
  outline: 0;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  background-color: transparent;
  white-space: nowrap;
  border: .05rem solid var(--primary-color);
  border-radius: 1rem;
  transition: all .2s ease;
  cursor: pointer;
}

.button:hover,
.button.active {
  color: #fff;
  background-color: var(--primary-color);
}

.button svg {
  width: 0.8rem;
  height: 0.8rem;
}

.button:hover svg path,
.button.active svg path {
  stroke: #fff;
}
.button:hover svg g,
.button.active svg g {
  stroke: #fff;
}

button.primary,
a.button.primary,
input[type=submit].primary {
  color: #fff;
  background: var(--primary-color);
}

button.danger,
a.button.danger,
input[type=submit].danger {
  color: #d9534f;
  border-color: #d9534f;
}

button.primary.danger,
a.button.primary.danger,
input[type=submit].primary.danger {
  color: #fff;
  background: #d9534f;
}

button.danger {
  color: #d9534f;
  border-color: #d9534f;
}

button.plain,
a.button.plain,
input[type=submit].plain {
  background-color: transparent;
  border: none;
}

button:disabled,
a[aria-disabled=true] span {
  color: var(--default-color);
  background: none;
  border: none;
  opacity: 0.1;
  cursor: default;
}

.button.disease {
  border-color: var(--disease);
}
.button.disease svg g,
.button.disease svg path {
  stroke: var(--disease);
}
.button.disease:hover {
  color: #fff !important;
  background-color: var(--disease);
}
.button.group {
  border-color: var(--group);
}
.button.group svg g,
.button.group svg path {
  stroke: var(--group);
}
.button.group:hover {
  color: #fff !important;
  background-color: var(--group);
}
.button.disease:hover svg g,
.button.disease:hover svg path,
.button.group:hover svg g,
.button.group:hover svg path {
  stroke: #fff;
}

button > icon,
a.button > icon,
button > svg,
a.button > svg {
  height: 0.8rem;
  margin-right: .4rem;
}
button > icon img,
a.button > icon img,
button > icon svg,
a.button > icon svg {
  display: block;
  width: .8rem !important;
  height: auto;
}

.resource-edit-form {
  min-width: 100%;
}

.row {
  /* [item item item] */
  display: flex;
  margin: .8rem 0;
  align-items: center;
}
.row.spaced {
  justify-content: space-between;
}

.row:not(.collapsed) > *:not(:last-child) {
  /* [item   item   item] */
  margin-right: .8rem;
}
.row > .secondary {
  /* [............item] */
  width: auto;
  text-align: right;
}
.row > .secondary * {
  text-align: left;
}
.justify-between {
  justify-content: space-between;
}

.w100p {
  width: 100%;
}
.w70p {
  width: 70%;
}
.w63p {
  width: 63% !important;
}
.w60p {
  width: 60%;
}
.w50p {
  width: 50%;
}
.w40p {
  width: 40%;
}
.w33p {
  width: 33%;
}
.w20p {
  width: 20%;
}

.w63p + div {
  width: 35%;
}
.flex {
  display: flex;
}
.fx-grow-2 {
  flex-grow: 2;
}
.ml-auto {
  margin-left: auto;
}
.align-end {
  align-items: flex-end;
}
.align-self-end {
  align-self: flex-end;
}

.cols2 {
  column-count: 2;
}
.cols3 {
  column-count: 3;
}
.cols2 > *,
.cols3 > * {
  width: 100%;
  display: block;
}

/* Forms */

form {
  margin-top: 1.6rem;
  width: 100%;
  max-width: 45rem;
}

input::placeholder{
  font-weight: 200;
  color: #D2D2DC;
}

fieldset {
  padding: 0;
  border: 0;
}
legend {
  width: 100%;
  /* margin-top: 2rem;
  margin-bottom: 1rem; */
  font-size: 1.6rem;
  font-weight: bold;
}

label {
  display: inline-block;
  margin-top: 1.2rem;
  font-weight: 500;
  font-size: 0.7rem;
  text-transform: uppercase;
}

input,
textarea {
  display: block;
  position: relative;
  width: 100%;
  height: 2rem;
  max-width: 100%;
  padding: .4rem .8rem;
  color: #50596c;
  font-size: .8rem;
  line-height: 1.2rem;
  background-color: #fff;
  border: .05rem solid #bbc;
  border-radius: .1rem;
  transition: all .2s ease;
}

textarea {
  min-height: 13.2rem;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  display: none;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  margin-top: 0;
  position: relative;
  padding-left: 1.2rem;
  cursor: pointer;
  font-size: 0.8rem;
  line-height: 1;
  text-transform: none;
  font-weight: normal;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: .8rem;
  height: .8rem;
  border: 1px solid var(--primary-color);
  background: #f8f8f8;
  border-radius: 2px;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  top: 3px; left: 1px;
  display: block;
  width: 0.7rem;
  height: 0.7rem;
  background:url(../images/icons/check-white.svg) -1px -1px;
  background-color: var(--primary-color);
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}

[type="checkbox"].keyword:not(:checked) + label:before,
[type="checkbox"].keyword:checked + label:before {
  border-color: var(--keyword);
}
[type="checkbox"].keyword:not(:checked) + label:after,
[type="checkbox"].keyword:checked + label:after {
  background-color: var(--keyword);
}
[type="checkbox"].group:not(:checked) + label:before,
[type="checkbox"].group:checked + label:before {
  border-color: var(--group);
}
[type="checkbox"].group:not(:checked) + label:after,
[type="checkbox"].group:checked + label:after {
  background-color: var(--group);
}

[type=file]::-webkit-file-upload-button {
  margin-right: 0.4rem;
  padding-left: 0;
  color: var(--primary-color);
  background: none;
  border: none;
  border-right: 1px solid var(--border-color);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-width: 4rem;
  height: 2rem;
  padding: .25rem .4rem;
  padding-right: 1.2rem;
  color: inherit;
  font-size: .8rem;
  line-height: 1.2rem;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23667189'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E") no-repeat right .35rem center/.4rem .5rem;
  border: .05rem solid #caced7;
  border-radius: .1rem;
  outline: 0;
  vertical-align: middle;
}

[type="file"] {
  display: flex;
}


input:focus,
select:focus {
  box-shadow: 0 0 .1rem var(--primary-color);
}

:disabled {
  background-color: var(--border-color);
}

details[open] > summary::before {
  transform: rotateX(180deg)
}
summary::-webkit-details-marker {
  display: none
}
summary {
  font-size: 0.65rem;
  color: var(--primary-color);
  cursor: pointer;
}
summary::before {
  content: '';
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.4rem;
  background: url(../images/icons/arrow-bottom-small.svg) 0 0 no-repeat;
  vertical-align: sub;
}
summary.disease::before {
  background-image: url(../images/icons/arrow-bottom-disease-small.svg);
}
summary.group::before {
  background-image: url(../images/icons/arrow-bottom-group-small.svg);
}
summary.keyword::before {
  background-image: url(../images/icons/arrow-bottom-keyword-small.svg);
}
summary + table {
  margin-top: 0.4rem;
  margin-left: 0.4rem;
  border-left: 1px solid var(--border-color);
}
summary + table td {
  font-size: 0.6rem;
  width: 30%;
  color: #696E8C;
  vertical-align: top;
}
summary + table table td:first-of-type {
  width: 10%;
}
summary + table td:first-of-type {
  padding-left: 0.7rem;
  color: var(--text-color);
}


.inline {
  display: inline-flex;
  align-items: center;
  margin-right: 1.2rem;
}

.toolbar {
  position: sticky;
  bottom: -1rem;
  display: flex;
  padding: 1.25rem 2rem 2rem 1rem;
  background-color: var(--secondary-background-color);
  border-top: 1px solid #eee;
  width: 100%;
  margin-left: -2rem;
}
.toolbar .secondary {
  display: flex;
  margin-left: auto;
}
.toolbar button:not(:last-child),
.toolbar [type=submit]:not(:last-child),
.toolbar .button:not(:last-child) {
  margin-right: 1rem;
}

.buttongroup {
  display: flex;
}
.buttongroup button:not(:first-of-type) {
  margin-left: .4rem;
}

/* [figure=basket] img {
  height: 1.55rem;
} */
[figure=person-add] img,
[figure=event-add] img {
  width: 2rem;
}
[figure=help] img {
  width: 1.6rem;
}

.disease,
a.disease {
  color: var(--disease);
}
a.disease:hover {
  color: var(--disease);
  background-color: var(--disease-light);
}
.country,
a.country {
  color: var(--country);
}
a.country:hover {
  color: var(--country);
  background-color: var(--country-light);
}
.group,
a.group,
.membership {
  color: var(--group);
}
a.group:hover {
  color: var(--group);
  background-color: var(--group-light);
}

.keyword,
a.keyword {
  color: var(--keyword);
}
a.keyword:hover {
  color: var(--keyword);
  background-color: var(--keyword-light);
}
.kind,
a.kind {
  color: var(--kind);
}
a.kind:hover {
  color: var(--kind);
  background-color: var(--kind-light);
}
.grouping,
a.grouping {
  color: var(--grouping);
}
a.grouping:hover {
  color: var(--grouping);
  background-color: var(--grouping-light);
}

/* Organisation and user pages */

.attachment {
  margin: 2rem 0;
}
